*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* BUG ANGULAR MATERIAL WITH LOADING */
/*  INTENTAR ARREGLR EL BLOCQUO DE SCROLL */
.cdk-global-scrollblock{
    position: static;    
}
/* BUG ANGULAR MATERIAL WITH LOADING*/

button:focus{
    outline: none;
}

@media only screen and (min-width: 768px){
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }
}

